# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=devstack
DB_SYNCHRONIZE=true

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# AI APIs
AI_PROVIDER=google # google, openai, groq
AI_API_KEY=your_api_key_here

# App
PORT=3000
